# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# やばい奴ら
.DS_Store

# Temporary files

# Netlist files (exported from Eeschema)

# Autorouter files (exported from Pcbnew)

# Exported BOM files
